:root{
	--main-blue:blue;
	--main-yellow:yellow;
	--main-white:white;
}
html{
  scroll-behavior:smooth;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
}
body{
	background:lightcyan;
}
nav{
  	display:flex;
	justify-content:flex-end;	
	background:blue;
	padding:10px;
	font-size:18px;

}
.nav-links{
	display:flex;
	gap:20px;
}
nav a{
                 color:white;
	text-decoration:none;
	font-weight:bold;
	transition:0.3s;
}
nav a:hover{
   color:yellow;
}
.menu{
    display:none;
}
@media(max-width:600px){

    header{
        width:100%;
        flex-direction:column;
        align-items:center;
        text-align:center;
    }

    .nav-links{
        display:none;
         flex-direction:column;
	background-color:blue;
	width:100%;
	text-align:center;
	gap:15px;
	padding:15px;
    }

    .menu{
        display:block;
    }
}
    
header{
	display:flex;
	justify-content:center;
	align-items:center;
	padding:60px 40px;
	gap:40px;
 	background-color:white;
}
header h2{
	margin-bottom:10px;
}
header p{
	margin-bottom:20px;
}
header img{
	width:100%;
	max-width:250px;
	height:auto;
	border-radius:50%;
}
button{
	background-color:var(--main-blue);
	color:white;
	padding:10px 20px;
	border:none;
	border-radius:8px;
	cursor:pointer;
	transition:0.3s
}
button:hover{
	background:darkblue;
	transform: translateY(-3px);
}
p{
	color:grey;
	font-size:20px;
}
section h3{
	text-align:center;
	background:black;
	color:yellow;
	font-weight:bold;
	font-size:20px;
	padding:10px;	
}
.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top:20px;
}

.card {
    width: 90%;
    max-width: 250px;
    background-color: var(--main-blue);
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px black;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    justify-self: center;

   display:flex;
   flex-direction:column;
   justify-content:center;
    align-items:center;
}

.card:hover {
    transform: translateY(-10px) scale(1.02);
}

@media (max-width: 600px) {
    .skills-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
.card p {
	color:white;
}
.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
     margin-top:20px;
}

.project-card {
    width: 90%;
    max-width: 300px;
    justify-self: center;
    background-color: maroon;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition:0.3s;
    box-shadow:0 0 10px black;
 
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.project-card:hover{
  transform:translateY(-10px) scale(1.02);
}
.project-card p{
	color:white;
}
@media (max-width: 600px) {
    .project-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
.project-card button {
    margin-top: 15px;
}
.contact form{
	display:flex;
	flex-direction:column;
	gap:10px;

}
.contact input,
.contact textarea{
	width:100%;
	padding:10px;
	border-radius:8px;
	border: 1px solid grey;
	box-sizing:border-box;
	outline:20 solid blue;
		
}
.contact input:focus,
.contact textarea:focus{
  outline: 2px solid blue;
}


.contact form{
	width:90%;
	max-width:500px;
	margin:auto;
	margin-top:20px;
}
.contact label{
	font-weight:bold;
	text-align:left;
}
.contact {
    padding: 10px 0;
    text-align: center;	
}
.projects {
    padding: 20px 0;
    text-align: center;
     padding-bottom:30px;	
}
.skills {
    padding: 20px 0;
    text-align: center;	
}
.about{
	padding:40px 0px;
	text-align:center;
	background-color: white;
}
.about p{
	max-width:600px;
	margin:20px auto;
	line-height:1.6;
}

.contact-btn,
.project-btn{
  display:inline-block;
  background-color:blue;
  color:white;
  padding:10px 20px;
  text-decoration:none;
  border-radius:8px;
   transition:0.3s;
}
.contact-btn:hover
.project-btn:hover{
   background-color:darkblue;
   transform:translateY(-3px);
}






   


	


