*{
  marging:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-sarif;
}
body{
	background:lightcyan;
}
nav{
  display:flex;
	justify-content:flex-end;
	gap:20px;	
	background:blue;
	padding:10px;
	font-size:18px;
	text-align:center;
}
nav a{
    color:white;
	text-decoration:none;
	font-weight:bold;
}
  
  
